<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ControlEquipo</servlet-name>
        <servlet-class>controlador.ControlEquipo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlFactura</servlet-name>
        <servlet-class>controlador.ControlFactura</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlLinea</servlet-name>
        <servlet-class>controlador.ControlLinea</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlPersona</servlet-name>
        <servlet-class>controlador.ControlPersona</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControlEquipo</servlet-name>
        <url-pattern>/ControlEquipo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlFactura</servlet-name>
        <url-pattern>/ControlFactura</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlLinea</servlet-name>
        <url-pattern>/ControlLinea</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlPersona</servlet-name>
        <url-pattern>/ControlPersona</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
